.contest {
    border:1px solid;
    margin:5px 50px 0px;
}
.contest > table {
    margin:5px;
}
.contest td {
}
.contest input {
    width:120px;
}
.controls {
    float:right;
}

.match {
    border-left:3px solid red;
    border-right:1px dotted red;
    display:inline-block;
    height:40px;
    padding-left:2px;
    position:fixed;
    width:100px;
}
.match.new {
    border:none;
}
.match input.name {
    width:100px;
}

.bracket {
    border:1px solid black;
    display:inline-block;
    min-height:40px;
    width:106px;
}
