.contest {
    border:1px solid;
    margin:5px 50px 0px;
    padding:5px;
}
.contest td {
}
.contest input {
    width:120px;
}
.controls {
    float:right;
}
.match .contestants {
    min-width:100px;
}
.match .handle {
    background:lightpink;
    border:1px solid;
    cursor:ns-resize;
    width:15px;
}
.contestant {
    cursor:pointer;
}
.contestant.winner {
    border:2px dotted red;
}
