include mixins.jade

html
    head
        title Totalisator
        block stylesheets
            link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
            link(rel='stylesheet', href='/main.css')
        block scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
            script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
            //script(src='jquery.min.js')
            script(src='/main.js')
    body
        block content
